.main-comp {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    z-index: 1;
}

.search-bar {
    margin: 20px auto;
    padding: 10px;
    width: 60%;
    max-width: 400px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #443c3c;
    font-size: 16px;
    color: #c8c3c3;
    transition: all 0.3s ease-in-out;
    caret-color: #fff;
}

.search-bar::placeholder{
    color: #fff;
    opacity: 0.7;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.know-more-btn {
    padding: 12px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #673ab7;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.know-more-btn:hover {
    padding: 15px 30px;
    background-color: #673ab7;
}

.tagline {
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 1.4;
}

.scroll-down {
    position: absolute;
    bottom: 40px;
    right: 40px;
    text-align: center;
}

.scroll-image {
    width: 150px;
    height: auto;
    transform: rotate(15deg);
}

.scroll-arrow {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@media (max-width: 700px) {
    .scroll-down {
        right: 0;
        left: 0;
        bottom: 20px;
        transform: rotate(0deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scroll-image {
        display: none;
    }

    .scroll-arrow {
        bottom: 70px;
        height: 5px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .know-more-btn {
        padding: 10px 20px;
    }

    .tagline {
        font-size: 1.2rem;
    }

    .search-bar {
        width: 80%;
    }
}